@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --blue:#05dac3;
    --ashblue:#216792;
    --darkblue:#071860;
    --white:#fff;
    --black:#000;
}
body{
    font-family: "Merriweather", serif;;
}
.top-header{
    padding:10px 50px ;
    border-bottom: 1px solid #f1e1e1;
    display: flex;
    font-size: 16px;
    
}
.top-header i{
    margin-right: 10px;
    color:var(--blue);
    font-size: 18px;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 1;

}
.col-3{
    flex: 2;
    text-align: right;
}
.col-3>i{
    padding: 4px 6px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
}
/**------**/
.main-header{
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline-block;
        margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}
button{
    font-size: 18px;
    padding: 15px 20px;
    background-color: #05dac3;
    color: var(--white);
    background-image: linear-gradient(to bottom, #020626 0%,#020626 100%); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 1%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border: none;
    cursor: pointer;
  
}
button:hover{
    background-position: -200%;
    transition: background 300ms ease-in-out;
}
nav ul li a:hover{
    color: var(--blue);
}


.hero-wrapper{
   
    background: linear-gradient(to right, #020626a8, transparent), url(../assets/herob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
   color: var(--black);
  
}

.hero-wrapper h2 span{
    color: var(--blue);
}

.hero-wrapper h2{
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
   

   
}
.hero-text{
    position: relative;
    z-index: 1;

}
.hero-text .hr{
    width: 80px;
    height: 5px;
    background-color: var(--blue);
    margin: 10px 0px;
}
.hero-text hr
{
width: 5px;
height: 5px;
background-color: yellow;
animation: heroline 5s linear infinite;
border:none;
}
@keyframes heroline{
    0% {
        transform: translatex(0);
    }
  
    50% {
        transform: translatex(80px);
    }
  
    100% {
        transform: translatex(0);
    }
}
.hero-text-wrapper{
  
    padding: 10% 5%;
    position: relative;;
    
}
.hero-wrapper p
{
    font-size: 18px;
    line-height: 2rem;
}

.circlebackground .circle{
    background-color: #eaf3fb;
    height: 400px;
    width: 420px;
   position: absolute;
   top: 10%;
   left: 2%;
   z-index: 0;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
   
   
    animation: sliderShape 8s linear infinite;
}
@keyframes sliderShape
{
    0%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translateZ(0) rotate(.01deg);
    }
    34% {
        border-radius:70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotate(.01deg);
    }
    50% {
        transform: translateZ(0) rotate(.01deg);
    }
    
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotate(.01deg);
    }

   100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translateZ(0) rotate(.01deg);
   }
}
.hero-wrapper button{
    position: absolute;
    
    z-index: 999;
}
.circleanimation1{
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 50%;
position: absolute;
    right: 20%;
    top: 20%;
    animation: moving 5s linear infinite;
}
@keyframes moving{
    0% {
        transform: translatey(0);
    }
    25% {
        transform: translatex(40px);
    }
    50% {
        transform: translatey(-40px);
    }
    75% {
        transform: translatex(-40px);
    }
    
    100% {
        transform: translatey(0);
    }
}
.circleanimation2{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
position: absolute;
    right: 36%;
    top:80%;
    animation: moving1 5s linear infinite;
}
.circleanimation3{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
position: absolute;
    right: 60%;
    top:50%;
    animation: moving 5s linear infinite;
}
.circleanimation4{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
position: absolute;
    right: 10%;
    top:80%;
    animation: moving1 5s linear infinite;
}
@keyframes moving1{
    0% {
        transform: translatey(0);
    }
    25% {
        transform: translatex(-40px);
    }
    50% {
        transform: translatey(40px);
    }
    75% {
        transform: translatex(40px);
    }
    
    100% {
        transform: translatey(0);
    }
}
/*--about css----*/
.about img {
    width: 80%;
    transition: transform 0.3s ease-in-out;
    
}
.about-left{
    flex:50%;
    text-align: center;
    position: relative;
}

.about{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    overflow: hidden;
    position: relative;
    background-color: #020626;
}

  

 .exprience{
    background-color: var(--white);
  bottom: 10%;
  right: 10%;
    position: absolute;
    z-index: 5;
    padding: 30px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
         line-height: 3rem;
 }
 .exprience .count{
    font-size: 24px;
    font-weight: bold;

 }
 .exprience:hover{
    background-color: var(--blue);
 }
 .exprience h3{
    font-size: 36px;
    font-weight: bolder;
 }
 .exprience .count::after{
    content: ' +';
    vertical-align: bottom;
 }
 .about-right{
    flex: 50%;
    line-height: 2rem;
    color: var(--white);
    align-self: center;
 }
 .about-right span{
    font-size: 16px;

 }
 .about-right hr{
    height: 5px;
    width: 5%;
    border: none;
    background-color: var(--blue);
    margin: 10px 0px;
 }
.about-right h3{
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0px;
}
.about-right p{
    font-size: 18px;
    font-weight: 100;
}
.about-right ul{
    list-style: none;
margin: 20px 0px;
line-height: 3rem;
}

.about-right ul li::before{
    content: '✓';
    margin-right: 10px;
    vertical-align: bottom;
    color: var(--blue);
}
.about-right button{
    background-image: linear-gradient(to bottom, #000 0%,#000 100%); 
}
#image1{
    bottom:-5%;
    right: -15%;
    animation: rotate 25s linear infinite;
    position: absolute;
    width: 25%;
    border-radius: 50%;
}
@keyframes rotate 
{
    from{
    transform:rotate(0deg);
    }
  to {
    transform:rotate(360deg);
    }
    
}
/*--- service section */
.services{
    background: url(../assets/service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    position: relative;
    padding:33% 5%;
}
.html{
    position: absolute;
    left: 20%;
    top: 30%;
    width: 10%; 

}
.css{
    position: absolute;
    right: 20%;
    top: 30%;
    width: 10%;
}
.js{
    position: absolute;
    right: 35%;
    top: 10%;
    width: 10%;
}
.bs{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 10%;
}
.react{
    position: absolute;
    right: 20%;
    bottom: 28%;
    width: 10%;
}
.wp{
    position: absolute;
    left: 20%;
    bottom: 28%;
    width: 10%;
}
.git{
    position: absolute;
    bottom: 1%;
    left: 45%;
    width: 10%;
}
